# EditorConfig is awesome: http://EditorConfig.org
# Get the Visual Studio extension: http://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.bat]
end_of_line = crlf

[*.cmd]
end_of_line = crlf

[*.cs]
indent_style = space
indent_size = 4

# Visual Studio will trim newlines from the end of a file
[*.csproj]
end_of_line = crlf
insert_final_newline = false

[*.sln]
end_of_line = crlf
insert_final_newline = false

[*.sql]
end_of_line = crlf
